@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-dangle {
  transform-origin: center 30%;
  animation: dangle 1s alternate infinite ease-in-out;
}

@keyframes dangle {
  0% {
    rotate: 15deg;
  }
  100% {
    rotate: -15deg;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scroll-fade {
  animation: fadeinout linear;
  animation-timeline: view();
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  padding: 20px 0px;
  flex: 0 0 auto;
}
