@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-dangle {
  transform-origin: center 30%;
  animation: dangle 1s alternate infinite ease-in-out;
}

@keyframes dangle {
  0% {
    rotate: 15deg;
  }
  100% {
    rotate: -15deg;
  }
}
